html{
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0em;
  padding: 0em;
}

h1, h2{
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;

}

.f{
  color: black;
}


header{
  padding: 0 0 0.4em;

  background-color: #cd5b34;

  text-align: center;
}


h1{
  margin: 0 0 0.4em;
  font-size: 2em;

}

nav{
  font-size: 1.2em;
}

nav ol{
  margin: 0em;
  padding: 0em;
  list-style-type: none;

}

nav li{
  display: inline-block;
  padding: 1em 1em 0em 1em;
}

nav a{
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  color: white;
  text-decoration: none;
  background-color: #cd5b34;
}

nav a:hover{
  background-color: #a93f35;
  color: #fff;
}






figure{
  margin: 0em;
}

figcaption{
  color: white;
  font-style: italic;

}

.left{
  float: left;
  width: 3em;

}

.right{
  float: right;
  width: 3em;

}

.img1{
  width: 180px;
  height: auto;
  float: left;
  margin-right: 1em;
  padding: 0 10px;
}

.img2{
  width: 180px;
  height: auto;
  float: right;
  padding: 0 10px;
}

.img3{
  width: 180px;
  height: auto;
  float: right;
  clear: both;
  padding: 0 10px;
}

.img4{
  width: 100%;
}

.img5{
  width: 50%;
}

.img6{
  width: 50%;
}



.p1{
  clear: right;
  padding: 0 10px;

}
.p2{
  clear: left;
  padding: 0 10px;
}


div{
  background-color: #d98156;

}

dt{
  font-weight: bold;
  font-style: italic;
  float: left;
  clear: left;

}

dd{
  margin: 0em;
  float: left;
  font-style: italic;
}

footer{
  background-color: #cd5b34;
  color: #d98156;
  text-align: center;
  padding: 0em;
}
