html{
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header{
  padding: 0em;
  overflow: hidden;
  background-color: #cd5b34;

  text-align: center;
}


body{
  margin: 0em;
  padding: 0em;
}



h1{
  margin: 0em 0em 0.2em;
  font-size: 3em;
  padding: 0.2em 0em 0em 0em;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h2{
  font-size: 1.6em;
  margin: 0em;
  padding: 1em;
  color: white;
  text-align: center;
  background-color: #dc8252;
}


h3 {
  font-size: 1.6em;
  color: black;
  text-align: center;
  margin: 0em;
  padding: 1em 0em 1em 0em;
}


nav {
  text-align: center;
}

nav ol{
  margin: 0em;
  padding: 0em;
  list-style-type: none;
  text-align: center;
}

nav li{
  float: left;
  width: 33.33%;
  border: 1px solid #a93f35;


}

nav a{
  display: block;
  color: white;
  text-decoration: none;
  background-color: #cd5b34;


}

nav a:hover{
  background-color: #a93f35;
  color: #fff;
}


div{
  clear: both;
  overflow: hidden;
}

figure{
  margin: 0em;
  background-color: #dc8252;

}

figcaption{
  color: white;
  font-style: italic;
}

.left{
  float: left;
  width: 15%;
  padding: 10px;

}

.right{
  float: right;
  width: 15%;
  padding: 10px;
}

.img1{
  width: 45%;
  height: auto;
  float: left;
  margin-right: 1em;
  padding: 0 10px;
}

.img2{
  width: 40%;
  height: auto;
  float: right;
}

.img3{
  width: 40%;
  height: auto;
  float: right;
  clear: both;
  border: 1px solid #ccc;
}

.img4{
  width: 100%;

}

.img5{
  width: 50%;
  float: left;
}

.img6{
  width: 50%;
  float: right;
}

.corn{
  width: 100%;
  text-align: center;
  background-color: #dc8252;
  padding: 0em 0em 1em 0em;
}

.rice{
   width: 50%;

   float: left;
   background-color: #dc8252;
   text-align: center;
   padding: 0em 0em 1em 0em;
 }

.oats{
   text-align: center;
   width: 50%;
   background-color: #dc8252;
   padding: 0em 0em 1em 0em;
   float: right;

 }

.im{
background-color: white;
overflow: hidden;
padding: 1em;
}

.img7{
  float: left;
  width: 25%;
  border: 1px solid #ccc;
  clear: both;

}

.img8{
  float: left;
  width: 25%;
  border: 1px solid #ccc;
  clear: both;
}

.img9{
  float: left;
  width: 25%;
  clear: both;
  border: 1px solid #ccc;
}



.p1{
  clear: right;
  padding: 0 10px;


}

.p2{
  clear: left;
  padding: 0 10px;

}






footer{
  background-color: #cd5b34;
  color: #d98156;
  text-align: center;
  padding: 1em 0em 1em 0em;
  margin: 0em;
  clear: both;
}
